---
layout: default
title: Slides Home
---

<style>
  .lecture-wrapper {
    max-width: 1200px;   /* limits full page width */
    margin: 0 auto;      /* centers horizontally */
    padding: 0 20px;     /* breathing space */
  }
  .lecture-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 24px;
    justify-content: center; /* center cards if fewer than full row */
  }
  .lecture-card {
    background: #b9fdce;
    border: 3px solid #33b14e;
    border-radius: 12px;
    padding: 30px;
    text-align: center;
    font-size: 1.3rem;
    transition: all 0.2s ease;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  }
  .lecture-card:hover {
    border-color: #ee2128;
    box-shadow: 0 12px 12px rgba(0,0,0,0.3);
    transform: translateY(-6px);
  }
  .lecture-card:click{
    transform: rotateZ(360deg);
  }

  .lecture-card a {
    display: block;
    font-weight: 600;
    font-size: 1.2em;
    color: #db0d11;
    text-decoration: none;
  }
</style>

<div class="lecture-wrapper">
  <br>
  <h1>📑 Slides for lectures </h1>
  <br>
  <h3>
    Following is the list of lectures/topics. 
  </h3>
  <br>
  <h2>Select a lecture:</h2>
  <br><br>
  <div class="lecture-grid">
    {% assign lectures = site.pages | where: "layout", "slide" | sort: "url" %}
      {% for lec in lectures %}
        {% if lec.layout == "slide" %}
          <div class="lecture-card">
            <a href="{{ lec.url | relative_url }}">{{ lec.title | escape }}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
</div>


